<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html">

	<ui:composition template="/template.xhtml">
	
		<ui:define name="content">
		
			<h:form>
					
					<h:commandLink value="Crea Nuova Scorta" action="#{scorteCDI.preparaCreazione()}">
					</h:commandLink>
					
					<h:commandLink value="testpage" action="testPage">
					</h:commandLink>
					
					</h:form>
		
		</ui:define>
	
	</ui:composition>
</html>