<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html">
      
 
<ui:composition template="/template.xhtml">

	<ui:define name="left">
	 
		<h1>CONTENUTO SCORTE</h1>
	
		<h:dataTable value="#{scorteCDI.scorte}" var="item">
		
			<h:column>
			
				<f:facet name="header">
					<h:outputText value="Nome"></h:outputText>
				</f:facet>
				
				<h:outputText value="#{item.nome}" />
			
			</h:column>
			
			<h:column>
			
				<f:facet name="header">
					<h:outputText value="Qta"></h:outputText>
				</f:facet>
				
				<h:outputText value="#{item.qta}" />
			
			</h:column>
		
		</h:dataTable>
		
		
	</ui:define>
	
	
	
	<ui:define name="content">
	
		<h:form>
		
			<h:messages errorStyle="color: red" infoStyle="color: green"></h:messages>
			
			<h:panelGrid columns="2">
			
				<h:outputLabel value="Nome">
				</h:outputLabel>
				<h:inputText required="true" label="Nome" value="#{scorteCDI.scorta.nome}">
				</h:inputText>
				
				
				
				<h:outputLabel value="Quantità">
				</h:outputLabel>
				<h:inputText label="Quantità" value="#{scorteCDI.scorta.qta}">
				</h:inputText>
				
				
				<h:commandButton value="Inserisci scorta" action="#{scorteCDI.crea()}">
				</h:commandButton>
				
				<h:commandButton value="Elimina scorta" action="#{scorteCDI.delete()}">
				</h:commandButton>
			
			</h:panelGrid>
		</h:form>
	
	</ui:define>
	
</ui:composition>



</html>