<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html">

	<ui:composition template="template.xhtml">
	
		<ui:define name="right">
			<h:form>
				<h:commandLink value="registrati" action="registrazione.xhtml">
				</h:commandLink>
			</h:form>
		</ui:define>
	
	
		<ui:define name="content">
		
			<h1>LOGIN</h1>
	
			<h:form>
		
			<h:messages errorStyle="color: red" infoStyle="color: green"></h:messages>
			
			<h:panelGrid columns="2">
			
				<h:outputLabel value="Username">
				</h:outputLabel>
				<h:inputText required="true" label="Username" value="#{clienteCDI.cliente.username}">
				</h:inputText>
				
				
				
				<h:outputLabel value="Password">
				</h:outputLabel>
				<h:inputText required="true" label="Password" value="#{clienteCDI.cliente.password}">
				</h:inputText>
				
				
				<h:commandButton value="Effettua Login" action="#{clienteCDI.login()}">
				</h:commandButton>
			
			</h:panelGrid>
		</h:form>
		
		</ui:define>
	
	</ui:composition>
</html>