<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://richfaces.org/rich">

	<ui:composition template="./template.xhtml">
	
		<ui:define name="content">
		
		<h:form>
		
			<h:messages errorStyle="color: red" infoStyle="color: green"></h:messages>
			
			<h:panelGrid columns="2">
				<h:outputLabel value="Username">
				</h:outputLabel>
				<h:inputText required="true" label="Username" value="#{prenotazioneTavoloCDI.username}">
				</h:inputText>
				
				
				
				<h:outputLabel value="Data">
				</h:outputLabel>
				
				 <input type="date" name="Data" value="#{prenotazioneTavoloCDI.data}" min="#{prenotazioneTavoloCDI.minData()}"  required="true"/> 
				
				<!--
				<p:calendar id="localDate" pattern="dd-MMM-yyyy" value="#{prenotazioneTavoloCDI.data}">
				</p:calendar>
				
				<h:inputText value="#{prenotazioneTavoloCDI.data}" label="Date" required="true">
					<f:convertDateTime pattern="dd-MM-yyyy"/>
				</h:inputText>
    			
    			<h:inputText value="#{prenotazioneTavoloCDI.data}" converterMessage="Formato: dd-mm-yyyy">
    				
    			</h:inputText>  
   				-->
				
				<h:outputLabel value="Ora">
				</h:outputLabel>
				<h:inputText label="Ora" value="#{prenotazioneTavoloCDI.numPersone}">
				</h:inputText>
				
				<h:outputLabel value="NumeroPersone">
				</h:outputLabel>
				<h:inputText label="NumeroPersone" value="#{prenotazioneTavoloCDI.numPersone}">
				</h:inputText>
				
				
				<h:commandButton value="Prenota tavolo" action="#{prenotazioneTavoloCDI.crea()}">
				</h:commandButton>
				
				<h:commandButton type="reset" value="Ripristina">
				</h:commandButton>
				
				
			
				
				
			
			</h:panelGrid>
		</h:form>
		
		</ui:define>
	
	</ui:composition>
</html>