<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html">

	<ui:composition template="template.xhtml">
		
		<ui:define name="right">
			<h:form>
				<h:commandLink value="login" action="login.xhtml">
				</h:commandLink>
			</h:form>
		</ui:define>
		
		<ui:define name="content">
		
			<h1>REGISTRAZIONE</h1>
	
			<h:form>
		
			<h:messages errorStyle="color: red" infoStyle="color: green"></h:messages>
			
			<h:panelGrid columns="2">
			
				<h:outputLabel value="Nome">
				</h:outputLabel>
				<h:inputText required="true" label="Nome" value="#{clienteCDI.cliente.nome}">
				</h:inputText>
				
				
				
				<h:outputLabel value="Cognome">
				</h:outputLabel>
				<h:inputText required="true" label="Cognome" value="#{clienteCDI.cliente.cognome}">
				</h:inputText>
				
				
				<h:outputLabel value="Mail">
				</h:outputLabel>
				<h:inputText required="true" label="Mail" value="#{clienteCDI.cliente.mail}">
				</h:inputText>
				
				
				
				<h:outputLabel value="Indirizzo">
				</h:outputLabel>
				<h:inputText required="true" label="Indirizzo" value="#{clienteCDI.cliente.indirizzo}">
				</h:inputText>
				
				<h:outputLabel value="Username">
				</h:outputLabel>
				<h:inputText required="true" label="Username" value="#{clienteCDI.cliente.username}">
				</h:inputText>
				
				
				
				<h:outputLabel value="Password">
				</h:outputLabel>
				<h:inputText required="true" label="Password" value="#{clienteCDI.cliente.password}">
				</h:inputText>
				
				
				<h:commandButton value="Registrati" action="#{clienteCDI.crea()}">
				</h:commandButton>
			
			</h:panelGrid>
		</h:form>
		
		</ui:define>
	
	</ui:composition>
</html>