<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html">

<head>
		<title><ui:insert name="pageTitle">Page Title</ui:insert></title>

        <link rel="stylesheet" type="text/css" href="css/default.css"></link>
        <link rel="stylesheet" type="text/css" href="css/cssLayout.css"></link>
		
</head>

<body bgcolor="#ffffff">

        <div id="top">
        
        	
        	<div id="right">
        		<ui:insert name="right">
        		<h:form>
        			<h:commandLink value="#{clienteCDI.session} logout" action="#{clienteCDI.logout()}">
					</h:commandLink>
				</h:form>
        		</ui:insert>
        	</div>
        	
            <center>
           
            	<img src="img/logo_ristorante.png"/>
            
            </center>
            
        </div>
        
         

        <div>
            <div id="left">
                <ui:insert name="left">Left</ui:insert>
            </div>
            
            <div id="content" class="left_content">
                <ui:insert name="content">Content</ui:insert>
            </div>
        </div>
        
         <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        
        <div id="bottom">
            <ui:insert name="bottom">Bottom</ui:insert>
        </div>

</body>

</html>